.App {
  max-width: 860px;
  margin: 40px auto;
  text-align: center;
}

button {
  position: relative;
  top: 0;
  background: none;
  border: 2px solid #c23866;
  padding: 6px 12px;
  border-radius: 4px;
  color: #c23866;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
}

button:hover {
  background: #c23866;
  color: #fff;
  top: -5px;
  transition: all 0.3s ease;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.turns {
  font-size: 1.7rem;
  font-weight: bold
}